*{
    box-sizing: border-box;
}
p{
    color:rgb(0, 0, 0);
    text-align: left;
}
h1{
    color:rgb(0, 0, 0);
    text-align: center;
}
h2{
    color:rgb(0, 0, 0);
    text-align: center;
}
h3{
    color:rgb(0, 0, 0);
    text-align: center;
}
body {
    background-image: url('/bild/pexels-toni-cuenca-585752.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-content: center;
    position: relative;
}

.main img {
    width: 200px;
}

.second {
    position: absolute;
    background-color: rgb(255, 255, 255);
    font-family: Arial;
    width: 35%;
    padding: 1.5%;
    height: 80vh;
    top: 10%;
    left: 25%;
    box-shadow: 4.75px 9px rgba(67, 67, 67, 0.600);
    text-shadow: 0.5px 0.75px;
    

@media screen and (max-width:1024px) {
    .main {
        display: flex;
        flex-direction: column;
    }

    .contact {
        width: 80%;
        margin: 2%;
        height: fit-content;
    }

    .second {
        width: 90%;
        margin: 2%;
        height: fit-content;
    }